*{
    font-family: "Courier New";

}

#login {
    background: #b92b27;
    color: white;
}

#signup {
    background: #b92b27;
    color: white;
}

h1 {
    color: #b92b27 
}

.upvote {
    background-color: green;
}